body {
  font-family: Arial;
  background: #f4f4f4;
}

.container {
  width: 320px;
  margin: 100px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.ok {
  background: green;
  color: white;
}

.reset {
  background: orange;
  color: white;
}

.call {
  background: red;
  color: white;
}

.hidden {
  display: none;
}